<section class="d-flex align-items-center vh-100 text-white myPad" style="background-color: var(--main-color);">
    <div class="container">
        <h1 class="fw-bolder fs-2 text-uppercase py-4 text-center">about component</h1>
        <div class="myStar mb-2 m-auto">
            <span class="line"></span>
            <i class=" star fa-solid fa-star"></i>
            <span class="line"></span>
        </div>
        <div class="row px-5">
            <div class="col-md-6 ps-md-5">
                <div>
                    <p class="small">Freelancer is a free bootstrap theme created by Route. The download includes the
                        complete source
                        files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy
                        customization.</p>
                </div>
            </div>
            <div class="col-md-6 ps-md-5">
                <div>
                    <p class="small">Freelancer is a free bootstrap theme created by Route. The download includes the
                        complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets
                        for easy customization.</p>
                </div>
            </div>
        </div>
    </div>
</section>