<div class="vh-100 myPad" style="background-color: var(--main-color);">
    <div class="container d-flex justify-content-center align-items-center text-center">
        <img class="pt-70 m-5" style="width: 220px;" src="\images\avataaars.svg" alt="Boy">
    </div>
    <div class="text-center text-white fw-bolder">
        <h2 class="text-uppercase">start Framework</h2>
    </div>
    <div class="myStar mb-2">
        <span class="line"></span>
        <i class=" star fa-solid fa-star"></i>
        <span class="line"></span>
    </div>
    <div class="text-center text-white">Graphic Artist - Web Designer - Illustrator</div>

</div>